<%= content_for :head do %>
  <%= stylesheet_link_tag 'messages' %>
<% end %>
<%= content_for :headerMenu do %>
  <a id='newMessage' class='button'>New Message</a>
<% end %>

<section id='messages'>
  <div id='messageUserThreads'>
    <div id='coversationsHeader'>
      <h1>Conversations</h1>
    </div>
    <% for user in @users %>
    <div class='user' data-user-id='<%= user.id %>'>
      <div class='content'>
        <%= image_tag(user.gravatar_url(:size=>32), :class=>'gravatar') %>
        <div class='userName'>
          <strong><%= user.name || 'Username' %></strong>
          <span class='fullName'><%= user.first_name ? (user.first_name + ' ' + user.last_name) : 'Full Name' %></span>
        </div>
        <div class='details'>
          <date class='lastMessageDate'>15 Oct at 00:35</date>
          <div class='messageCount'>3</div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div style='clear: left'></div>

  <%= h(flash[:error])%>

  <table>
  <%= render :partial => 'list_messages',:locals => {:messages => @sentmessages,:typeheader => "Sent Messages",:renderUnreadFlag => :false} %>
  <%= render :partial => 'list_messages',:locals => {:messages => @receivedmessages,:typeheader => "Received Messages",:renderUnreadFlag => :true} %>
  </table>
</section>