<% form_for(@user) do |f| %>
  
<table>
  <tr>
    <td>User Name&nbsp;</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>First Name&nbsp;</td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td>Last Name&nbsp;</td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <td>Email&nbsp;</td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td>Location &nbsp;</td>
    <td><%= f.text_field :location,:disabled => :true %></td>
  </tr>
  <tr>
    <td>Bio&nbsp;</td>
    <td><%= f.text_area :bio,:size=>"22x10" %></td>
  </tr>

</table>
  <%= f.submit "Update user" %><%= link_to "Cancel",user_path(@user) %>
<% end %>


