<%= content_for :headerMenu do %>
  <%= link_to "Sign in",new_user_path,:class=>'button' %>
<% end %>

<% for user in @users %>
  <div class='user' data-user-id='<%= user.id %>'>
    <div class='content'>
      <%= image_tag(user.gravatar_url(:size=>32), :class=>'gravatar') %>
      <div class='userName'>
        <strong><%= h user.name %> </strong>
        <span class='fullName'><%= user.first_name ? (user.first_name + ' ' + user.last_name) : 'Full Name' %></span>
      </div>
    </div>
  </div>
<% end %>

<div style='clear: left'></div>
<%= will_paginate @users %> 

<style>
.user {
  float: left;
  width: 220px;
  height: 80px;
}
.user .gravatar {
  float: left;
}
.user .content {
  padding: 5px;
}
.user .userName {
  margin-left: 40px;
}
.user .userName strong {
  display: block;
}
div.pagination {
  width: 300px;
  margin: 20px auto;
}
</style>