
<table>
  <tr>
    <td>User Name&nbsp;</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>First Name&nbsp;</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name&nbsp;</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Location &nbsp;</td>
    <td><%= @user.location %></td>
  </tr>
  <tr>
    <td>Bio&nbsp;</td>
    <td><%= @user.bio %></td>
  </tr>

</table>

<%= link_to "Edit User",edit_user_path(@user)%>

