
<table>
  <tr>
    <td>User Name&nbsp;</td>
    <td><%= @user.name %></td>
  </tr>
  <% if @user == @current_user %>
  <tr>
    <td>First Name&nbsp;</td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name&nbsp;</td>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Location &nbsp;</td>
    <td><%= @user.location %></td>
  </tr>
  <tr>
    <td>Bio&nbsp;</td>
    <td><%= @user.bio %></td>
  </tr>
  <% end if signed_in? %>
</table>

<% if @user == @current_user %>

<table>
  <tr>
    <td>Number of unread messages&nbsp;</td>
    <td><%= link_to @user.unread_message_count,messages_path %></td>
  </tr>
  <tr>
    <td>Number of read messages&nbsp;</td>
    <td><%= link_to @user.read_message_count,messages_path %></td>
  </tr>
  
</table>



<%= link_to "Edit User",edit_user_path(@user)%>

<% end if signed_in? %>
