<%= content_for :head do %>
  <%= stylesheet_link_tag 'postings' %>
<% end %>
<header>
  <h1>Item Postings</h1>
  <nav class='sectionMenu'>
  <%= link_to '<span>+</span>Offer an Item'.html_safe(), new_posting_path, :class=>'offerItem button hasIcon' %>
  </nav>
</header>
<nav id='categories'>
  <h1>Categories</h1>
  <ul>
    <li class='current'>All</li>
  <% for category in @categories %>
    <li class='<%= category['level'] if category['level'] %>'><%= link_to category['name'], '#' %></li>
  <% end%>
  </ul>
  <button data-action='showAllCategories'>More</button>
</nav>

<section id='postingsList'>
  <header>
    <h1>Recent Items in Edmonton</h1>
    <div>
      Find by tag: <a>Lorem</a>, <a>ipsum dolor</a>, <a>sit amet</a>, <a>consectetur</a>, <a> adipiscing</a>, <a>elit</a>
    </div>
  </header>
  <%= render @postings %>
</section>

<%= link_to 'New Posting', new_posting_path %>
<div style='clear:left'></div>
<script>
$('#categories [data-action="showAllCategories"]').bind('click', function(e){
  $('#categories li').show();
  $(this).hide();
});
</script>