<%= content_for :head do %>
  <%= stylesheet_link_tag 'postings' %>
<% end %>
<%= content_for :headerMenu do %>
  <%= link_to '<span>+</span>Offer an Item'.html_safe(), new_posting_path, :class=>'offerItem button hasIcon' %>
<% end %>

<nav id='categories'>
  <h1>Categories</h1>
  <ul>
    <li class='current'><%= link_to_unless_current 'All', postings_path %></li>
  <% for category in @categories.sort_by(&:name) %>
    <li class='<%= 'top' %>'><%= link_to_unless_current category['name'], [category, 'postings'] %> <!--(<%#=category.postings.count if category.postings.count > 0 %>)--></li>
  <% end%>
  </ul>
  <button data-action='showAllCategories'>More</button>
</nav>

<section id='postingsList'>
  <header>
    <h1><%= @listTitle %></h1>
    <div>
      <!--Find by tag: <a>Lorem</a>, <a>ipsum dolor</a>, <a>sit amet</a>, <a>consectetur</a>, <a> adipiscing</a>, <a>elit</a>-->
    </div>
  </header>
  <%= flash[:error] %>
  <%= will_paginate @postings %> 
  <%= render @postings %>
  <%= will_paginate @postings %> 
</section>

<div style='clear:left'></div>
<script>
$('#categories [data-action="showAllCategories"]').bind('click', function(e){
  $('#categories li').show();
  $(this).hide();
});
</script>