<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @posting.title %>
</p>

<p>
  <b>Description:</b>
  <%= @posting.description %>
</p>

<p>
  <b>Date expires:</b>
  <%= @posting.date_expires %>
</p>

<p>
  <b>Date closed:</b>
  <%= @posting.date_closed %>
</p>

<p>
  <b>Location:</b>
  <%= @posting.location %>
</p>

<p>
  <b>New:</b>
  <%= @posting.new %>
</p>

<p>
  <b>Poster:</b>
  <%= image_tag(@author.gravatar_url(:size=>32), :class=>'gravatar') %>
  <%= link_to(@author.name,@author)%> &nbsp; 
</p>

<p>
  <% if((signed_in?) && (@author.id == current_user.id)) %>
    Ask a question about this item (this is your own item)
  <% else %>
    <%= link_to("Ask a question about this item",new_message_path(:posting => @posting,:recipient_id => @author ))%>
  <% end %>
  <% if((signed_in?) && (@author.id == current_user.id)) %>
    Request this item (this is your own item)
  <% else %>
    <%= link_to("Request this item",new_transaction_path(:posting => @posting))%>
  <% end %>
</p>


<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
