<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Letitfree.me - <%= @title %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'reset', 'app' %>
  <link href='http://fonts.googleapis.com/css?family=Neuton&subset=latin' rel='stylesheet' type='text/css'>
  <script src="http://www.google.com/jsapi"></script>
  <script>
    google.load("jquery", "1.4.2");
  </script>
  <%= yield :head %>
</head>
<body>
  <div id='wrapper'>
    <header>
      <div class='container'>
      <h1><a href='/'>let<span class='mid'>it</span>free<span class='end'>.me</span></a></h1>
      <h2>
        <span>Find or Offer Items for Free in</span>
        Edmonton
      </h2>
      <nav>
        <ul>
          <li><%= active_link_to 'Home', root_path %></li>
          <li><%= active_link_to 'Postings', postings_path %></li>
          <li><%= active_link_to 'Messages', messages_path %></li>
          <li><%= active_link_to 'Users', users_path %></li>
        </ul>
      </nav>
      </div>
    </header>
    
    <%= render :partial=>'layouts/'+@bodylayout %>
    
    <footer>
      <nav>
        <ul>
          <li>
            <%= link_to 'Home', '/' %>
            <% if(signed_in?) %>
              <%= link_to 'Sign Out', sessions_logout_path %>
            <% else %>
              <%= link_to 'Sign In', new_user_path %>
            <% end %>
          </li>
        </il>
      </nav>
    </footer>
  </div>
</body>
<%= javascript_include_tag 'rails', 'application' %>
</html>