<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Letitfree.me <%= yield :title %></title>
  <!-- meta tags -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <%= stylesheet_link_tag 'reset', 'app' %>
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Neuton&subset=latin' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='wrapper'>
    <header>
      <h1>Letitfree<span>.me</span></h1>    
      <nav>
        <ul>
          <li><%= link_to 'Home', '/' %></li>
        </ul>
      </nav>
    </header>
    <section id='body'>
      <%= yield :body %>
    </section>
    <footer>
      <nav>
        <ul>
          <li>
            <%= link_to 'Home', '/' %>
          </li>
        </il>
      </nav>
    </footer>
  </div>
</body>
<script src="http://www.google.com/jsapi"></script>
<script>
  google.load("jquery", "1.4.2");
  jQuery.noConflict();
</script>
<%= javascript_include_tag :defaults %>
</html>